{% extends 'base_site/base_site.html' %}

{% block body_block %}
    <div class="jumbotron">
        <div class="select2-container">
            <h1 class="display-4">Question Title: {{ title }}</h1>
            <p>{{ question_text }}</p>

        </div>
    </div>

    <div class="container">
        <div class="colM">
            <div id="box" class="jxgbox" style="width:500px; height:500px;margin: 0 auto;"></div>
        </div>

        {% if is_open_response %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">With textarea</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        {% endif %}
        <div class="row1">
            <button class="button">My answer is ready</button>
        </div>

    </div>
    <script type="text/javascript">
        questionOptions['{{ question }}']('box', '#00ff00', {{ attr }});
        console.log('hello4');
    </script>
{% endblock %}
